@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@media screen and (max-width: 319px) {
  * {
    margin: 0;
    border: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  * body {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7)) no-repeat;
    background: linear-gradient(180deg, #af67e9, #6565e7) no-repeat;
  }
  * body main {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 4rem 4rem auto;
        grid-template-rows: 4rem 4rem auto;
    background: white;
    font-family: "Kumbh Sans", sans-serif;
    place-items: center;
    width: 90vw;
    height: 70vh;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 20px 0px black;
            box-shadow: 0px 5px 20px 0px black;
    padding: 5%;
  }
  * body main #woman {
    content: url("images/illustration-woman-online-mobile.svg");
    position: relative;
    top: -7vh;
    right: 1rem;
  }
  * body main #bkg {
    content: url("images/bg-pattern-mobile.svg");
    position: relative;
    top: -8vh;
  }
  * body main header {
    position: relative;
    top: -4vh;
    color: black;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
  }
  * body main .question {
    color: black;
    width: 95%;
    font-size: 1.5vh;
    text-align: left;
    font-weight: 400;
    border-bottom: 1px solid lightgray;
  }
  * body main .question svg {
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes arrDown {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
  }
  @keyframes arrDown {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
  }
  @-webkit-keyframes arrUp {
    0% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
  @keyframes arrUp {
    0% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
  * body main .question:hover {
    color: #F47B56;
    cursor: pointer;
  }
  * body main .question .accordion {
    color: black;
    overflow: hidden;
    margin-top: 0.5em;
    line-height: 2em;
    font-size: 1.2vh;
    height: 0em;
    font-weight: 400;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes appear {
    0% {
      height: 0em;
    }
    100% {
      height: 4em;
    }
  }
  @keyframes appear {
    0% {
      height: 0em;
    }
    100% {
      height: 4em;
    }
  }
  @-webkit-keyframes disappear {
    0% {
      height: 4em;
    }
    100% {
      height: 0em;
    }
  }
  @keyframes disappear {
    0% {
      height: 4em;
    }
    100% {
      height: 0em;
    }
  }
  * body .attribution {
    position: absolute;
    font-size: 11px;
    bottom: 5px;
    left: 5vw;
    text-align: center;
    color: white;
    width: 90vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  * body .attribution a {
    color: #F47B56;
  }
}

@media screen and (min-width: 320px) and (max-width: 766px) {
  * {
    margin: 0;
    border: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  * body {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7)) no-repeat;
    background: linear-gradient(180deg, #af67e9, #6565e7) no-repeat;
  }
  * body main {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 4rem 4rem auto;
        grid-template-rows: 4rem 4rem auto;
    background: white;
    font-family: "Kumbh Sans", sans-serif;
    place-items: center;
    width: 90vw;
    height: 70vh;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 20px 0px black;
            box-shadow: 0px 5px 20px 0px black;
    padding: 5%;
  }
  * body main #woman {
    content: url("images/illustration-woman-online-mobile.svg");
    position: relative;
    top: -7vh;
    right: 1rem;
  }
  * body main #bkg {
    content: url("images/bg-pattern-mobile.svg");
    position: relative;
    top: -8vh;
  }
  * body main header {
    position: relative;
    top: -4vh;
    color: black;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
  }
  * body main .question {
    color: black;
    width: 95%;
    font-size: 1.5vh;
    text-align: left;
    font-weight: 400;
    border-bottom: 1px solid lightgray;
  }
  * body main .question svg {
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes arrDown {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
  }
  @keyframes arrDown {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
  }
  @-webkit-keyframes arrUp {
    0% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
  @keyframes arrUp {
    0% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
  * body main .question:hover {
    color: #F47B56;
    cursor: pointer;
  }
  * body main .question .accordion {
    color: black;
    overflow: hidden;
    margin-top: 0.5em;
    line-height: 2em;
    font-size: 1.2vh;
    height: 0em;
    font-weight: 400;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes appear {
    0% {
      height: 0em;
    }
    100% {
      height: 4em;
    }
  }
  @keyframes appear {
    0% {
      height: 0em;
    }
    100% {
      height: 4em;
    }
  }
  @-webkit-keyframes disappear {
    0% {
      height: 4em;
    }
    100% {
      height: 0em;
    }
  }
  @keyframes disappear {
    0% {
      height: 4em;
    }
    100% {
      height: 0em;
    }
  }
  * body .attribution {
    position: absolute;
    font-size: 11px;
    bottom: 5px;
    left: 5vw;
    text-align: center;
    color: white;
    width: 90vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  * body .attribution a {
    color: #F47B56;
  }
}

@media screen and (min-width: 767px) and (max-width: 1139px) {
  * {
    margin: 0;
    border: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  * body {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7)) no-repeat;
    background: linear-gradient(180deg, #af67e9, #6565e7) no-repeat;
  }
  * body main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 'woman FAQ' 'woman qOne' 'woman qTwo' 'shadow qThree' 'shadow qFour' 'shadow qFive';
    background: white;
    font-family: "Kumbh Sans", sans-serif;
    place-items: center;
    width: 90vw;
    height: 70vh;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 20px 0px black;
            box-shadow: 0px 5px 20px 0px black;
    padding: 5%;
  }
  * body main #woman {
    content: url("images/illustration-woman-online-desktop.svg");
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: woman;
    position: relative;
    width: 100%;
    height: auto;
    top: -7vh;
    right: 1rem;
  }
  * body main #bkg {
    content: url("images/bg-pattern-desktop.svg");
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: shadow;
    position: relative;
    width: 100%;
    height: auto;
    top: -8vh;
  }
  * body main header {
    position: relative;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: FAQ;
    top: 0;
    color: black;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
  }
  * body main #qOne {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: qOne;
  }
  * body main #qTwo {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: qTwo;
  }
  * body main #qThree {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: qThree;
  }
  * body main #qFour {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: qFour;
  }
  * body main #qFive {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: qFive;
  }
  * body main .question {
    color: black;
    width: 95%;
    font-size: 1.5vh;
    text-align: left;
    font-weight: 400;
    border-bottom: 1px solid lightgray;
  }
  * body main .question svg {
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes arrDown {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
  }
  @keyframes arrDown {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
  }
  @-webkit-keyframes arrUp {
    0% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
  @keyframes arrUp {
    0% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
  * body main .question:hover {
    color: #F47B56;
    cursor: pointer;
  }
  * body main .question .accordion {
    color: black;
    overflow: hidden;
    margin-top: 0.5em;
    line-height: 2em;
    font-size: 1.2vh;
    height: 0em;
    font-weight: 400;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes appear {
    0% {
      height: 0em;
    }
    100% {
      height: 4em;
    }
  }
  @keyframes appear {
    0% {
      height: 0em;
    }
    100% {
      height: 4em;
    }
  }
  @-webkit-keyframes disappear {
    0% {
      height: 4em;
    }
    100% {
      height: 0em;
    }
  }
  @keyframes disappear {
    0% {
      height: 4em;
    }
    100% {
      height: 0em;
    }
  }
  * body .attribution {
    position: absolute;
    font-size: 11px;
    bottom: 5px;
    left: 5vw;
    text-align: center;
    color: white;
    width: 90vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  * body .attribution a {
    color: #F47B56;
  }
}

@media screen and (min-width: 1140px) {
  * {
    margin: 0;
    border: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  * body {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7)) no-repeat;
    background: linear-gradient(180deg, #af67e9, #6565e7) no-repeat;
  }
  * body main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'woman FAQ' 'woman qOne' 'woman qTwo' 'shadow qThree' 'shadow qFour' 'shadow qFive';
    background: white;
    font-family: "Kumbh Sans", sans-serif;
    place-items: center;
    width: 90vw;
    height: 70vh;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 20px 0px black;
            box-shadow: 0px 5px 20px 0px black;
    padding: 5%;
  }
  * body main #woman {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: woman;
    position: relative;
    width: 100%;
    height: auto;
    top: -7vh;
    right: 1rem;
  }
  * body main #bkg {
    content: url("images/bg-pattern-mobile.svg");
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: shadow;
    position: relative;
    width: 100%;
    height: auto;
    top: -8vh;
  }
  * body main header {
    position: relative;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: FAQ;
    top: 0;
    color: black;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
  }
  * body main #qOne {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: qOne;
  }
  * body main #qTwo {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: qTwo;
  }
  * body main #qThree {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: qThree;
  }
  * body main #qFour {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: qFour;
  }
  * body main #qFive {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: qFive;
  }
  * body main .question {
    color: black;
    width: 95%;
    font-size: 1.5vh;
    text-align: left;
    font-weight: 400;
    border-bottom: 1px solid lightgray;
  }
  * body main .question svg {
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes arrDown {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
  }
  @keyframes arrDown {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
  }
  @-webkit-keyframes arrUp {
    0% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
  @keyframes arrUp {
    0% {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
  * body main .question:hover {
    color: #F47B56;
    cursor: pointer;
  }
  * body main .question .accordion {
    color: black;
    overflow: hidden;
    margin-top: 0.5em;
    line-height: 2em;
    font-size: 1.2vh;
    height: 0em;
    font-weight: 400;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes appear {
    0% {
      height: 0em;
    }
    100% {
      height: 4em;
    }
  }
  @keyframes appear {
    0% {
      height: 0em;
    }
    100% {
      height: 4em;
    }
  }
  @-webkit-keyframes disappear {
    0% {
      height: 4em;
    }
    100% {
      height: 0em;
    }
  }
  @keyframes disappear {
    0% {
      height: 4em;
    }
    100% {
      height: 0em;
    }
  }
  * body .attribution {
    position: absolute;
    font-size: 11px;
    bottom: 5px;
    left: 5vw;
    text-align: center;
    color: white;
    width: 90vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  * body .attribution a {
    color: #F47B56;
  }
}
/*# sourceMappingURL=style.css.map */